@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ddecfa9c;
    color: #000000ee;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
}

header{
    padding: 2rem;
    background-color: rgb(95, 154, 182);
    text-align: center;
}

main{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem
}

section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h2 {
    color: black;
    font-size: 1.2rem;
}

input[type="radio"], input[type="checkbox"]{
    accent-color: #1aa1b9;
}

input[type="text"], input[type="password"], input[type="date"], input[type="email"] {
    width: 100%;
    padding: 2 rem;
    border: 2.2px solid #094f5c;
    outline: none;
    border-radius: 5px;
    background-color: rgb(235, 246, 247);
}

.perguntas > section{
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    margin: 0 0 30px 0;

    border: 1px solid #ddd;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
}

.perguntas:hover > section{
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
}

.formulario{
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    margin: 0 0 30px 0;

    border: 1px solid #ddd;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
}
.formulario:hover {
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
}

input::placeholder {
    color: rgb(75, 75, 75);
    margin: 10px 0;
    cursor: pointer;
}

select{
    cursor: pointer;
    background-color: #d3ecf0;
    color: black;
    border-radius: 5px;
    
}

img{
    width: 30rem;
    border-radius: 5px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th{
    background-color: #0e798b;
    color:rgb(0, 0, 0);
    padding: 1rem;
}

td{
    color: black;
    padding: 1rem;
    text-align: center;
}

details{
    background-color:#abdde6 ;
    border-radius: 5px;
    padding: 1rem;
}

summary{
    color:rgb(5, 78, 5);
    margin: 0.5rem;
    cursor: pointer;
}

ol{
    margin-left: 2rem;
}

ol li{
    padding: 0.2rem;
}

fieldset{
    border: 2px solid #094f5c;
    border-radius: 5px;
    padding: 1.5rem;
}

legend{
    padding: 0.5rem;
}

textarea{
    outline: none;
    border-radius: 5px;
    border: 2px solid #094f5c;
    background-color: transparent;
}

button{
    background-color: #abdde6;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

footer{
    background-color: #094f5c;
    padding: 2rem;
    text-align: center;
}
